:root{
  --main-color: #000000;
  --second-color: #1f9ffc;
  --button-color: #d04000;
  --button-hover-color: #f97d2e;
  --button-active-color: #f9572e;
  --button-disable-color: rgb(153, 153, 153);
  --button-shadow-color: #753b1d;
}

@font-face{
  font-family: 'Formular';
  src: url('../fonts/Formular-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'Formular-italic';
  src: url('../fonts/Formular-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face{
  font-family: 'Formular-bold';
  src: url('../fonts/Formular-Bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face{
  font-family: 'Formular-black';
  src: url('../fonts/Formular-Black.otf');
  font-style: normal;
  font-weight: bolder;
}

html{
  font-family: 'Formular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url('../img/main-picture 2.JPG');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
  height: 100%;
}
