.home-block-title {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    margin: 10px auto;
    text-align: center;
}

.home-section-title {
    margin: 0 auto;
    font-family: 'Formular-bold', sans-serif;
}

.home-section-text {
    margin: 0;
    background-color: #f87a53fd;
    color: #fff;
    padding: 10px;
}

@media (max-width: 500px){ 

    .calculator-form{
         font-size: .8rem;
    }   
}