
.loading-image {
    margin-left: 35%;
}

button.table-button {
    background: white;
    padding: 3px;
    margin: 5px;
    border: 1px solid #e2e2e2;
    width: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}