.wrapper_table {
    width: 960px;
    margin: 30px auto;
}

.food__table {
    display: table;
    width: 100%;
    border-top: 1px solid #111111;
    border-left: 1px solid #111111;
}

.food__table_row {
    display: table-row;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 38px;
    border-bottom: 1px solid #111111;
}

.food__table_row:last-child {
    border-bottom: none;
}

.food__table_cell {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #111111;
    border-right: 1px solid #111111;
}

.cell-0 {
    width: 90px;
}

.cell-1 {
    width: 600px;
    text-align: left;
}

.cell-2 {
    width: 120px;
}

.loading-image {
    margin-left: 35%;
}

button.table-button {
    background: white;
    padding: 3px;
    margin: 5px;
    border: 1px solid #e2e2e2;
    width: 20px;
    cursor: pointer;
}