.form {
    box-sizing: content-box;
}

.form__input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border:1px solid #999;
    outline: none;
}

.form__input:focus, .form__input:hover{
    box-shadow: 0 0 10px rgb(79, 123, 226);
}


.form__multiline {
    resize: none;
    padding: 10px;
    width: 50%;
}

.form__label{
    width: 15%;
    margin-right: 30px;
}

.form__select {
    width: 30%;
}

.form__select-container{
    display: flex;
    align-items: center;
}

.form__action{
    margin-top: 10px;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

