.article{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2em;   
    padding: 8px;
    }

.article__paragraph{
    text-indent: 2rem;
}

@media (max-width: 48rem) { 
    .article{
        text-align: justify;
        line-height: 1;
        }
    
    .article__paragraph{
        text-indent: 1rem;
    }
}