.form {
    box-sizing: content-box;
}

.form__input{
    width: 20%;
    padding: 7px;
}

.form__multiline {
    resize: none;
    padding: 10px;
    width: 50%;
}

.form__label{
    width: 15%;
    margin-right: 30px
}

.form__select {
    width: 30%;
    margin-right: 10px;
}

.form__select-container{
    display: flex;
    align-items: center;
}

.form__action{
    margin-top: 10px;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}