thead .admin-dish-table__name{
    width: 30%;
}
thead .admin-dish-table__time{
    width: 25%;
}
thead .admin-dish-table__type-trevel{
    width: 15%;
}
thead .admin-dish-table__recipe{
    width: 30%;
    text-align: center;
}