.tableWrapper {
    width: 100%;
}

.loading-image {
    margin-left: 45%;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1040px;
    min-width: 320px;
    border-radius: 5px;
}

thead{
    border-radius: 5px;
}

thead td{
    background-color: rgb(200, 218, 244);
    border-bottom: 2px solid rgb(165, 165, 165);
    font-weight: bold;
}

thead :first-child{
    width: 35%;
    border-top-left-radius: 5px;
}

thead :nth-child(2),
thead :nth-child(3),
thead :nth-child(4){
    width: 15%;
}

thead :last-child{
    border-top-right-radius: 5px;
}

thead :nth-child(5){
    width: 25%;
}

td {
    height: 2.5rem;
    padding-left: 10px;
    border-bottom: 1px solid rgb(235, 235, 235)
}

button.table-button {
    background: white;
    padding: 3px;
    margin: 5px;
    border: 1px solid #e2e2e2;
    width: 20px;
    cursor: pointer;
}

.table-button.delete {
    background: #d86f6f;
    color: white;
}

.table-button.edit {
    background: #7088f5;
    color: white;
}

.forAdmin {
    display: none;
}

.hidden {
    display: none;
}