:root {
    --main-color: #fff;
    --second-color: #1f9ffc;
    --button-color: #d04000;
    --button-hover-color: #f97d2e;
    --button-active-color: #f9572e;
    --button-disable-color: rgb(153, 153, 153);
    --button-shadow-color: #753b1d;
    --height-header: 5rem;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 720px){
    .wrapper{
        width: 100%;
        height: 100%;
    }
}

.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    min-height: var(--height-header);
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1%;
    background-color: #54689d;
    width: 100%;
    z-index: 3;
    color: var(--main-color);
}

.logo__link {
    text-decoration: none;   
    color: var(--main-color);
    font-size: 2rem;
}

.logo__link::before{
    content: 'TRAVEL';
    font-weight: 600;
}

.hamburger {
    cursor: pointer;
    position: relative;
    display: none;
}

.hamburger_clickable {
    padding: 20px 20px;
}

.hamburger__button {
    background-color: #000;
    width: 20px;
    height: 2px;
    position: relative;
    transition: background .2s ease-in-out;
}

.hamburger__button::after, .hamburger__button::before {
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.hamburger__button::after {
    top: 5px;
}

.hamburger__button::before {
    top: -5px;
}

.hamburger__checkbox:checked~.hamburger .hamburger__button {
    background-color: transparent;
}

.hamburger__checkbox:checked~.hamburger .hamburger__button::after {
    transform: rotate(45deg);
    top: 0;
}

.hamburger__checkbox:checked~.hamburger .hamburger__button::before {
    transform: rotate(-45deg);
    top: 0;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: row;
    max-height: none;
    margin: 0;
    padding: 0;
    transition: max-height .5s ease-in-out;
}

.nav-menu__item {
    padding: 1rem;
}

.nav-menu__item:hover {
    text-decoration: underline;
}

.menu-link {
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.menu-link_active {
    font-weight: 700;
}

.main-section {
    width: 100%;
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    margin-top: calc(var(--height-header) + 1rem);
}

.progress-bar {
    display: flex;
    justify-content: center
}

.error-text {
    text-align: center;
    padding: 5px;
    background-color: #ee5959;
    color: white;
    margin: 5% auto;
}

.hello-words {
    text-align: center;
}


@media (max-width: 48rem) {
    html {
        width: 100%;
        font-size: .8rem;
    }
    .header {
        display: block;
    }
    .nav-menu {
        max-height: 0;
        flex-direction: column;
    }
    .main-section {
        width: 90%;
        max-width: 1200px;
        min-width: 320px;
        margin: 70px auto 0;
    }
    .hamburger {
        display: block;
    }
    .hamburger__checkbox:checked~.nav-menu {
        max-height: 300px;
    }
}