.login-form-container{
    display: flex;
    justify-content: center;
}

.login-form{
   margin: 0;
}

.login-form__login{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.login-form__password{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.login-form__submit{
    background-color: #fff;
    outline: none;
    border:1px solid #d4d4d4;
    width: 150px;
    border-radius: 5%;
    height: 40px;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}

.error-login {
    color:#ff7474;
    font-weight: 600;
}