.body {
    padding: 0;
    margin: 0;
}

@media (max-width: 48rem) { 
   body {
       font-size: 10px;
   }
}

.btn{
    display: inline-block;
    color: rgb(110, 108, 108);
    border: 1px solid #777;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    min-width: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .2s;
}

.btn:hover{
   
}


.btn:disabled{
    border:none;
    border-radius: 2px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    min-width: 30px;
    cursor: pointer;
    background-color: rgb(233, 233, 233);
    color:white;
}

input[type='text'] {
    font-family: 'Montserrat', sans-serif;
}

.btn.warn{
    background-color: #f67373;
    padding: 3px;
    border: 1px solid #f6f6f6;
    width: 20px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
}

.btn.primary{
    background: white;
    padding: 3px;
    border: 1px solid #e2e2e2;
    width: 20px;
    cursor: pointer;
    font-size: 10px;
}