.wrapper_table{
    width: 600px;
    margin: 30px auto;
}

.food__table{
    display: table;
    width: 100%;
    background-color: rgba(010, 010, 010, 0.5)
}

.food__table_row{
    display: table-row;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 38px;
}

.food__table_cell{
    display: table-cell;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #111111;
}

.cell-1{
    width: 360px;
}

.cell-2{
    width: 240px;
}